<div class="containing">

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th style="text-align:center;">Title</th>
      <th style="text-align:center;">Created By</th>
      <th style="text-align:center;">Created At</th>
      <th style="text-align:center;">Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.user.email %></td>
        <td><%= time_ago_in_words(article.created_at) %></td>
        <td><%= @markdown.render(article.body).html_safe %></td>


              <td><%= link_to 'View', article %></td>
        <% if user_signed_in? %>
          <% if article.user_id == current_user.id %>
              <td><%= link_to 'Edit', edit_article_path(article) %></td>
              <td><%= link_to 'Delete', article, method: :delete, data: { confirm: "Are you sure to detlete the article - #{article.title}" } %></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>