
<p>
  <strong>Title:</strong>
  <%= @article.title %>
  <br>
  <strong>Created At:</strong>
  <%= @article.created_at %>
  <br>
  <strong>Created By User:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>Body:</strong><br>
  <%= @article.body %>
  <div>


  <% if user_signed_in? && @article.user_id == current_user.id %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Delete', @article , method: :delete, data: { confirm: "Are you sure to detlete the article - #{@article.title}" } %> |
    <%= link_to 'Back', articles_path %>
  <% end %>
  </div>
</p>


<strong>Comments : ... </strong>
<%= render @article.comments %>
<%= render 'comments/form' %>


